<div class="event-item clearfix">
  <div class="event-title">
    <time class="time calendar">
      <span class="month">Mar</span>
      <span class="day">29</span>
    </time>
    <div class="event-name">
      MLG CS:GO Major Championship: Columbus
      <div class="event-date-local">
        Mar 29&ndash;Apr 3
        •
        Nationwide Arena, Columbus OH
      </div>
    </div>
  </div>

  <div id="collapse0" class="event-details in" style="display: none;">
    <div class="event-body">
      <div class="event-image">
        <a href="/events/84/mlg-cs-go-major-championship-columbus">
          <img src="http://s3.amazonaws.com/s3.majorleaguegaming.com/event/event_images/84/original/CSGO Event Icon.jpg?1448043186" alt="Csgo event icon">
        </a>
      </div>
      <div class="spe-header">
        Counter-Strike: Global Offensive
      </div>
      <div class="event-desc">
        <p>
          Major League Gaming (MLG) today announced the&nbsp;<strong>MLG Counter-Strike:Global Offensive Major
          Championship: Columbus</strong>&nbsp;to be held at the MLG Arena and Nationwide Arena from March 29 &ndash;
          April 3, 2016 with a $250,000 prize pool.<br>
          The first-ever Major to be held in North America will kick off Tuesday, March 29 at the MLG Arena with 16 of
          the best Counter-Strike: Global Offensive teams from around the world battling it out over 3 days in front of
          a live audience for the Group Stage Matches and Quarterfinals. In addition to the live event, fans will also
          be able to attend a one-of-a-kind viewing party hosted by MLG in the nearby Arena District.
        </p>
      </div>
      <div class="pull-right">
        <a href="#" class="btn btn-primary">
          Event Details
        </a>
      </div>
    </div>
  </div>
</div>