<div class="post-item clearfix">
  <h1>
    <a href="#"> WDSU News </a>
  </h1>

  <div>
    Competitive gaming takes center stage at Major League Gaming finals in New Orleans
  </div>
  <span class="pull-right badge"> 12/11/2015 </span>
</div>