<div class="store_item">
  <a href="#" class="store_img_link">
    <div class="store_img">
      <img src="http://s3.amazonaws.com/s3.majorleaguegaming.com/homepage/store/images/20/small/mlcsgomajor.jpg?1449165841" alt="Mlcsgomajor">
    </div>
  </a>

  <div class="store_text">
    <div class="store_desc">
      <a href="#"> MLG CS:GO Major Championship: Columbus GA </a>
    </div>
    <div class="store_price"> $45.00</div>
    <a href="#" class="btn btn-default"> BUY </a>
  </div>
</div>