<div class="stream item col-lg-6">
  <div class="content">
    <div class="thumb">
      <a href="http://www.twitch.tv/meclipse" data-tt_medium="twitch_home" data-tt_content="top_channels" class="cap">
        <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_meclipse-320x180.jpg" alt="mEclipse">
      </a>
    </div>
    <div class="meta">
        <a data-tt_medium="twitch_home" data-tt_content="top_channels" href="http://www.twitch.tv/meclipse">TSM Dyrus - unranked to ??? - random champi</a>
      <p class="info">
        9,805 viewers on <a data-tt_medium="twitch_home" data-tt_content="top_channels" href="/meclipse/profile">mEclipse</a>
      </p>
    </div>
  </div>
</div>