<tr class="tournament-item">
  <td title="xboxone" class="first-td">
    <a target="_blank" href="#">
      <img src="http://gamebattles.majorleaguegaming.com/images/platforms/icons/64/xboxone.png" class="platform-icon">
    </a>
  </td>

  <td title="Call of Duty: Black Ops III" class="second-td">
    <a target="_blank" href="#">
      <img src="http://gamebattles.majorleaguegaming.com/cdn/gb/arenas/avatar/64/725.png" class="game-icon">
    </a>
  </td>
  <td>
    <a target="_blank" href="http://gamebattles.majorleaguegaming.com/xboxone/call-of-duty-black-ops-iii/tournament/2v2-gb-combine-1nd-sd-12-07">
      <table class="subtable">
        <tbody>
        <tr>
          <td title="2v2 GB Combine 1nD S&amp;D 12-07" class="title">
            <div class="overflow-title">
              <span class="money">$435 </span>
              2v2 GB Combine 1nD S&amp;D 12-07
            </div>
          </td>
        </tr>
        <tr>
          <td class="subtitle">
            <div class="overflow-title">
              Monday December 7th 1:55 AM
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </a>
  </td>
  <td class="last-td">
    <a target="_blank" href="#" class="btn btn-primary">
      Join
    </a>
  </td>
</tr>